[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
django-crispy-forms = "*"
scrapy = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
gunicorn = "*"
django-environ = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
